.header{
    background:#2A3768;
    color: white;
    width: auto;
    height: 90px;
}
.all{
    width: 80px;
    margin-top: 5px;
    margin-left: 40px;
}
.library{
    margin-top: -65px;
    margin-left: 130px;
    font-size: 40px ;
    font-weight: 700;
}
.log:link, .log:visited {
    background-color: #3B73C6;
    color: white;
    padding: 10px 40px;
    text-align: center;
    margin-left: 1150px;
    position: relative;
    top: -40px;
    border-radius: 20px;
    text-decoration: none;
  }
  
.log:hover, .log:active {
    background-color: hsl(216, 48%, 56%);
  }
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 89px;
    left: 0;
    background-color: #2A3768;
    overflow-x: hidden;
    padding-top: 20px;
  } 
span{
    display: block;
}
.dash{
    position: absolute;
    margin-left: 10px;
    margin-top: 9px;
    width: 45px;
}
.das{
    color: white;
    background-color: #2A3768;
    padding: 20px 60px;
    text-decoration: none;
    display: block;
    font-size: 17px;
    font-weight: bold;
}
.das:hover, .das:active {
    background-color: hsl(216, 48%, 56%);
}
.per{
    color: white;
    background-color: #2A3768;
    padding: 20px 60px;
    text-decoration: none;
    display: block;
    font-size: 13px;
    font-weight: bold;
}
.per:hover, .per:active {
    background-color: hsl(216, 48%, 56%);
}
.person{
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
    width: 40px;
}
.books{
    color: white;
    background-color: #2A3768;
    padding: 20px 60px;
    text-decoration: none;
    display: block;
    font-size: 13px;
    font-weight: bold;
}
.books:hover, .books:active {
    background-color: hsl(216, 48%, 56%);
}
.book{
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
    width: 40px;

}
.set{
    color: white;
    background-color: #2A3768;
    padding: 20px 60px;
    text-decoration: none;
    display: block;
    font-size: 17px;
    font-weight: bold;
}
.set:hover, .set:active {
    background-color: hsl(216, 48%, 56%);
}
.setting{
    position: absolute;
    margin-left: 10px;
    margin-top: 11px;
    width: 40px;

}
.main{
    margin-left: 400px;
    margin-top: 50px;
}
.boton{
    width: 160px;
    height: 45px;
    color: white;
    font-weight: bold;
    background-color: #3B73C6;
    border: none;
    border-radius: 20px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
  }
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 2px solid #2A3768;
    width: 33%; 
  }
.botonn{
    width: 160px;
    height: 45px;
    color: white;
    font-weight: bold;
    background-color: #3B73C6;
    border: none;
    border-radius: 20px;
    margin-left: 240px;
}
form{
    margin-top: 40px;
}
label{
    font-size: 15px;
    font-weight: bold;
    margin-left: 30px;

}
#fname{
    width: 250px;
    margin-left: 38.5px;
}
#lname{
    width: 250px;
    margin-left: 42px;
    margin-top: 7px;
}
#mname{
    width: 250px;
    margin-left: 20px;
    margin-top: 7px;
}
#eadd{
    width: 250px;
    margin-left: 16.5px;
     margin-top: 7px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

.add{
    float: left;
    margin-right: 210px;

}
.mains{
    margin-left: 1000px;
    margin-top: -32px;
}
#search-text-input{
    border: none;
    border:solid 1px #2A3768;
    border-radius: 20px;
    width: 300px;
    font-weight: bold;
    font-size: 17px;
}
#serch{
    width: 20px;
    position: absolute;
    left: 1010px;
    top: 157px;
}
#input-container #search-text-input{
    padding-left: 38px;
}
.mainss{
    margin-left: 350px;
    margin-top: 50px;
}
table {
    width: 90%;
  }
  th{
    border-top: 1px solid #2A3768;
    border-left: 1px solid #2A3768;;
    border-right: 1px solid #2A3768;;
    border-bottom: 2px solid #2A3768;
    text-align: left;
    padding: 8px;
  }
  td{
    border: 1px solid #2A3768;
    text-align: left;
    padding: 8px;
    font-weight: 500;
  }
#editbtn{
    width: 100px;
    height: 30px;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    background-color: red;
}
.deletebtn{
    background-color: #3B73C6;
    color: white;
    padding: 5px 27px;
    border-radius: 20px;
    text-decoration: none;
    margin-top: 15px;
}
#borrowbtn{
    width: 100px;
    height: 30px;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    background-color: #E2AE27;
}
#returnbtn{
    width: 100px;
    height: 30px;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    background-color: #30A126;
    margin-top: 15px;
}
#Nname{
    width: 250px;
    margin-left: 53px;
}
#author{
    width: 250px;
    margin-left: 45px;
    margin-top: 15px;
}
#copies{
    width: 250px;
    margin-left: 48px;
    margin-top: 15px;
}
#category{
    width: 250px;
    height:30px;
    margin-left: 30px;
    margin-top: 15px;
}  
.bor{
    font-weight: bold;
    font-size: 20px;
}  
.chart1{
    float: left;
    margin-left: 150px;
}
.chart2{
    float: right;
    
    margin-left: 30px;
}
.container{
    margin-top: 70px;
    
}