<template>
    
    <div class="head">
        <img :src="image"/>
        <p>Ann's Library</p>
        <a href="#">Logout</a>
    </div>

</template>

<script>
    import image from "@/assets/img/al.png"
export default {
    name: 'header',
    data: function (){
        return{
            image : image
        }
    }
 


}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.head{
    background:#2A3768;
    color: white;
    width: auto;
    height: 95px;
}
img{
    width: 80px;
    margin-top: 5px;
    margin-left: 40px;
}
p{
    margin-top: -65px;
    margin-left: 130px;
    font-size: 40px ;
    font-weight: 700;
}
a{
    background-color: #3B73C6;
    color: white;
    padding: 10px 40px;
    text-align: center;
    margin-left: 1150px;
    position: relative;
    top: -60px;
    border-radius: 20px;
    text-decoration: none;

}
</style>
