<template>
    <div>

         <div>
            <b-nav vertical class="container">
                
                <b-nav-item class="dash"> <b-img :src="image" class="das"/> Dashboard</b-nav-item>
                <b-nav-item class="patron"> <b-img :src="image1" class="pat"/>Patron Management</b-nav-item>
                <b-nav-item class="book"> <b-img :src="image2" class="bo"/>Book Management</b-nav-item>
                <b-nav-item class="set"> <b-img :src="image3" class="se"/>Settings</b-nav-item>
            </b-nav>
        </div>


    </div>

       
            
    

</template>

<script>
 import image from "@/assets/img/dashboard.png"
 import image1 from "@/assets/img/person.png"
 import image2 from "@/assets/img/books.png"
 import image3 from "@/assets/img/settings.png"
export default {
    name: 'sidenav',
    data: function (){
        return{
            image : image,
            image1 : image1,
            image2 : image2,
            image3 : image3
        }
    }
 
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.container{
    font-size: 18px;
    height: 100%;
    width: 280px;
    position: fixed;
    z-index: 1;
    top: 80px;
    background-color: #2A3768;
    overflow-x: hidden;
    padding-top: 20px;
}
.das{
    position: absolute;
    margin-left: -60px;
    margin-top: -14px;
}
.dash{
    padding: 10px 60px;
    text-decoration: none;
    display: block;
    font-weight: bold;
    background-color: #2A3768;
}
.dash:hover, .dash:active {
    background-color: hsl(216, 48%, 56%);
}
.pat{
    position: absolute;
    margin-left: -50px;
    margin-top: -14px;
    
}
.patron{
    padding: 10px 53px;
    font-size: 13px;
    font-weight: bold;
    background-color: #2A3768;
}
.patron:hover, .patron:active {
    background-color: hsl(216, 48%, 56%);
}
.bo{
    position: absolute;
    margin-left: -50px;
    margin-top: -14px;
    width: 40px;
}
.book{
     padding: 10px 53px;
    font-size: 14px;
    font-weight: bold;
    background-color: #2A3768;
}
.book:hover, .book:active {
    background-color: hsl(216, 48%, 56%);
}
.se{
    position: absolute;
    margin-left: -60px;
    margin-top: -14px;
}
.set{
    padding: 10px 60px;
    text-decoration: none;
    display: block;
    font-weight: bold;
    background-color: #2A3768;
}
.set:hover, .set:active {
    background-color: hsl(216, 48%, 56%);
}
</style>
