<template>
    <div>
        <my-header></my-header>
        <my-side></my-side>

        <div>
            <div class="main">
                <div>
                    <b-button id="show-btn" @click="$bvModal.show('bv-modal-example')">Add Book</b-button>

                    <b-modal id="bv-modal-example" hide-footer="true">
                        <template #modal-title>
                        Add Book
                        </template>
                        <div>
                        <label for="fname">Name</label>
                        <input type="text" id="fname" name="fname"><br>
                        <label for="lname">Author</label>
                        <input type="text" id="author" name="author"><br>
                        <label for="fname">Copies</label>
                        <input type="text" id="copies" name="copies"><br>
                        <label for="lname">Category</label>
                        <select name="category" id="category" placeholder="---Select Category---">
                            <option value="novel">Novel</option>
                            <option value="non-fiction">Non-Fiction</option>
                            <option value="youngadultfiction">Young Adult Fiction</option>
                            <option value="fantacy">Fantasy</option>
                        </select><br><br><br>
                        </div>
                        <b-button class="mt-6">Add Book</b-button><br>
                    </b-modal>
                    </div>
                
            </div>
            <div class="search">
                    <img src="./assets/img/search.png" id="serch">
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search"/>
            </div>

            <div class="tablle">
                <div>
                    <b-table small :fields="fields" :items="items" responsive="sm" class="mythead" >

                        <template #cell(actions)>
                            <b-button size="sm" class="mr-2">
                            Edit
                            </b-button>
                            <b-button size="sm" class="mr-3">
                            Borrow
                            </b-button><br>
                            <b-button size="sm" @click="showMsgBoxOne" class="mr-1">
                            Delete
                            </b-button> {{ String(boxOne) }}
                            <b-button size="sm" class="mr-4">
                            Return
                            </b-button>

                            
                        </template>
                    </b-table>
                </div>
                
            </div>
        </div>
    </div>
    

    
    
    

</template>

<script>
import header from './components/header'
import sidenav from './components/sidenav'
export default {
    components:{
        'my-header':header,
        'my-side' :sidenav
    },
    data() {
      return {
        fields: [
            'name',
            'author',
            'copies_available',
            'category',
         { key: 'actions', label: 'Actions' }
        ],
        items: [
          { name: 'Shine', author: 'Jessica Jung', copies_available: 10, category: 'Novel' },
          { name: 'Always and Forever Lara Jean', author: 'Jenny Han', copies_available: 20, category: 'Young Adult Fiction' },
          { name: 'Clean Archeticture', author: 'Robert Martin', copies_available: 15, category: 'Computer Science' },
          { name: 'Marrow', author: 'Tarry Fisher', copies_available: 8, category: 'Fiction' }
          ],
         boxOne: '',
      }
    },
     methods: {
      showMsgBoxOne() {
        this.$bvModal.msgBoxConfirm('Are you sure you want to delete?')
         
      }
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.main{
    margin-left: 400px;
    margin-top: 50px;
}
label{
    font-weight: 500;
    margin-left: 30px;
    margin-top: 10px;
}
#fname{
    width: 280px;
    margin-left: 38.7px;
}
#author{
    width: 280px;
    margin-left: 31.6px;
}
#copies{
    width: 280px;
    margin-left: 32.8px;
}
#category{
    width: 280px;
    height: 33px;
    margin-left: 15.7px;
}
.mt-6{
    background-color: #3B73C6;
    border-radius: 20px;
    margin-left: 300px;
    width: 160px;
    font-weight: bold;
}
#show-btn{
    background-color: #3B73C6;
    border-radius: 20px;
    width: 160px;
    font-weight: bold;
}
.form-control{
    width: 350px;
    border: none;
    border:solid 1px #2A3768;
    border-radius: 20px;
    font-weight: bold;
    font-size: 15px;
    margin-left: 900px;
    margin-top: -37px;
    padding-left: 38px;
}
#serch{
    width: 20px;
    position: absolute;
    left: 910px;
    top: 156px;
}
.tablle{
    margin-left: 340px;
    margin-top: 70px;
    width: 1000px;
    border: 1px solid #2A3768;
    font-weight: 500;

}
.mr-1{
    margin-top: 3px;
     background-color: red;
     border-radius: 20px;
     width: 100px

}
.mr-2{
     background-color: #3B73C6;
     border-radius: 20px;
     width: 100px

}
.mr-3{
     background-color: #E2AE27;
     border-radius: 20px;
     width: 100px

}
.mr-4{
    margin-top: 3px;
     background-color: #30A126;
     border-radius: 20px;
     width: 100px

}


</style>

