<template>
    <div>
        <my-header></my-header>
        <my-side></my-side>

        <section class="container">
            <div class="columns">
                <p>Borrowed and Returned Books</p>
               <column-chart :data="bardata"
               :colors="[['#015C92', '#015C92', '#015C92', '#015C92'], ['#CC5500', '#CC5500', '#CC5500', '#CC5500']]"></column-chart>
            
            </div>

            <div class="donot">
                <p>Popular Book Genre</p>
                <pie-chart :donut="true" :data="[['Fiction', 50], ['Adventure', 30], ['Non-Fiction', 23], ['Romance', 15]]"
                :colors="['#e63e00', 'orange', '#0a7a4a', '#802300']"></pie-chart>
            </div>
            
        </section>
    </div>
    

    
    
    

</template>

<script>
import header from './components/header'
import sidenav from './components/sidenav'
export default {
    components:{
        'my-header':header,
        'my-side' :sidenav
    },
    data() {
      return {
        bardata: [
          {name: 'Borrowed', data: {'January': 40, 'February': 20, 'March': 10, 'April': 20}},
          {name: 'Returned', data: {'January': 30, 'February': 35, 'March': 30, 'April': 40}}
        ]
      }
    
 }
    
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.container{
   
}
.columns{
    border: 3px solid #2A3768;
    width: 450px;
    margin-left: 210px;
    margin-top: 100px 
}
p{
    text-align: center;
    font-weight: 900;
}
.donot{
    border: 3px solid #2A3768;
    width: 500px;
    margin-left: 700px;
    margin-top: -347px 
}

</style>
