<template>
    <div>
        <my-header></my-header>
        <my-side></my-side>

        <div>
            <div class="main">
                <div>
                    <b-button id="show-btn" @click="$bvModal.show('bv-modal-example')">Add Patron</b-button>

                    <b-modal id="bv-modal-example" hide-footer="true">
                        <template #modal-title>
                        Add Patron
                        </template>
                        <div>
                        <label for="fname">First Name</label>
                        <input type="text" id="fname" name="fname"><br>
                        <label for="lname">Last Name</label>
                        <input type="text" id="lname" name="lname"><br>
                        <label for="fname">Middle Name</label>
                        <input type="text" id="mname" name="mname"><br>
                        <label for="lname">Email Address</label>
                        <input type="text" id="eadd" name="emailadd"><br><br><br>
                        </div>
                        <b-button class="mt-6">Add Patrons</b-button><br>
                    </b-modal>
                    </div>
                
            </div>
            <div class="search">
                    <img src="./assets/img/search.png" id="serch">
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search"/>
            </div>

            <div class="tablle">
                <div>
                    <b-table small :fields="fields" :items="items" responsive="sm" class="mythead" >

                        <template #cell(actions)>
                            <b-button size="sm" class="mr-2">
                            Edit
                            </b-button>
                            <b-button size="sm" @click="showMsgBoxOne" class="mr-1">
                            Delete
                            </b-button> {{ String(boxOne) }}

                            
                        </template>
                    </b-table>
                </div>
                
            </div>
        </div>
    </div>
    

    
    
    

</template>

<script>
import header from './components/header'
import sidenav from './components/sidenav'
export default {
    components:{
        'my-header':header,
        'my-side' :sidenav
    },
    data() {
      return {
           fields: [
          'name',
          'email_address',
          'date_registered',
         { key: 'actions', label: 'Actions' }
        ],
        items: [
          { name: 'Linette Ann Lazarte', email_address: 'annlazarte25@gmail.com', date_registered: 'October 25, 2020', },
          { name: 'Jessica Jung', email_address: 'jungjessica30@gmail.com', date_registered: 'October 26, 2020'  },
          { name: 'Vivian Garcela', email_address: 'viviangarcela@gmail.com', date_registered: 'October 27, 2020' },
          { name: 'Sofia Lazarte', email_address: 'sofialazarte@gmail.com', date_registered: 'October 28, 2020' },
          { name: 'Yoon Ah Im', email_address: 'imyoona@gmail.com', date_registered: 'October 28, 2020' },
          { name: 'Taeyeon Kim', email_address: 'kimtaeyeon@gmail.com', date_registered: 'October 29, 2020' },
          { name: 'Tiffany Hwang', email_address: 'tiffanyhwang@gmail.com', date_registered: 'October 30, 2020' }
        ],
         boxOne: '',
      }
    },
     methods: {
      showMsgBoxOne() {
        this.$bvModal.msgBoxConfirm('Are you sure you want to delete?')
         
      }
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.main{
    margin-left: 400px;
    margin-top: 50px;
}
label{
    font-weight: 500;
    margin-left: 30px;
    margin-top: 10px;
}
#fname{
    width: 280px;
    margin-left: 38.7px;
}
#lname{
    width: 280px;
    margin-left: 40px;
}
#mname{
    width: 280px;
    margin-left: 18px;
}
#eadd{
    width: 280px;
    margin-left: 15.7px;
}
.mt-6{
    background-color: #3B73C6;
    border-radius: 20px;
    margin-left: 300px;
    width: 160px;
    font-weight: bold;
}
#show-btn{
    background-color: #3B73C6;
    border-radius: 20px;
    width: 160px;
    font-weight: bold;
}
.form-control{
    width: 350px;
    border: none;
    border:solid 1px #2A3768;
    border-radius: 20px;
    font-weight: bold;
    font-size: 15px;
    margin-left: 900px;
    margin-top: -37px;
    padding-left: 38px;
}
#serch{
    width: 20px;
    position: absolute;
    left: 910px;
    top: 156px;
}
.tablle{
    margin-left: 340px;
    margin-top: 70px;
    width: 1000px;
    border: 1px solid #2A3768;
    font-weight: 500;

}
.mr-1{
     background-color: red;
     border-radius: 20px;
     width: 100px

}
.mr-2{
     background-color: #3B73C6;
     border-radius: 20px;
     width: 100px

}


</style>
