<template>
    <div>
        <my-header></my-header>
        <my-side></my-side>
    </div>
    

    
    
    

</template>

<script>
import header from './components/header'
import sidenav from './components/sidenav'
export default {
    components:{
        'my-header':header,
        'my-side' :sidenav
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
