.img-fluid{
    position: relative;
    width: 1350px;
    text-align: center;
    color: white;
}
.tops{
    position: absolute;
    top: 40px;
    left: 16px;
    
}
.homes{
    color: white;
    font-weight: bold;
    display: inline;
    margin-right: 120px;
    margin-left: 230px;
}
.reserve{
    color: white;
    font-weight: bold;
    display: inline;
    margin-right: 120px;
}
.mensu{
    color: white;
    font-weight: bold;
    display: inline;
    margin-right: 120px;
}
.aboutu{
    color: white;
    font-weight: bold;
    display: inline;
    margin-right: 120px;
}
.contactu{
    color: white;
    font-weight: bold;
}
.centerss{
    position: absolute;
    top: 170px;
    left: 16px;
}
.underss{
    color: white;
    font-weight: bolder;
    display: inline;
    margin-left: 540px;
    font-size: 100px;
}
.titles{
    color: white;
    display: inline;
    margin-left: 375px;
    font-size: 70px;
}
.subt{
    color: white;
    display: inline;
    margin-left: 480px;
    font-size: 24px;
}
.underss2{
    color: white;
    font-weight: bolder;
    display: inline;
    margin-left: 541px;
}
.waffless{
   position: relative;
   top: 0;
   left: 0;

}
.boxss{
    width: 470px;
    height: 460px;
    margin-left: 400px;
    margin-top: 20px;
  
}
.boxxss{
    width: 400px;
    margin-top: 65px;
    margin-left: 75px;
    position: absolute;
    top: 30px;
    left: 30px;
}
.waf{
    width: 300px;
    margin-top: 40px;
    margin-left: 670px;
    position: absolute;
    top: 30px;
    left: 30px;
}
.pan{
    width: 300px;
    margin-top: 150px;
    margin-left: 910px;
    position: absolute;
    top: 30px;
    left: 30px;
}
.coffees{
    margin-top: 20px;
    margin-right: 29px;
    width: 427px;
    height: 493px;
}
.tira{
    margin-top: 20px;
    margin-right: 29px;
    width: 427px;
    height: 493px;
}
.lemon{
    margin-top: 20px;
    width: 427px;
    height: 493px;
}
.story{
    position: absolute;
    top: 120px;
    left: 16px;
}
.know{
    display: inline;
    margin-left: 230px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 20px;
    color: #641717;
    font-weight: bolder;

}
.comming{
    display: inline;
    margin-left: 140px;
    width: 300px;
    font-size: 15px;
    font-weight: 500;
}
.comming1{
    display: inline;
    margin-left: 140px;
    width: 300px;
    font-size: 15px;
    font-weight: 500;
}
.comming2{
    display: inline;
    margin-left: 140px;
    width: 300px;
    font-size: 15px;
    font-weight: 500;
}
.comming3{
    display: inline;
    margin-left: 140px;
    width: 300px;
    font-size: 15px;
    font-weight: 500;
}
.peace{
    display: inline;
    margin-left: 140px;
    font-size: 15px;
    font-weight: 500;
}
.peace1{
    display: inline;
    margin-left: 140px;
    font-size: 15px;
    font-weight: 500;
}
.you{
    display: inline;
    margin-left: 140px;
    font-size: 15px;
    font-weight: 500;
}
.you1{
    display: inline;
    margin-left: 140px;
    font-size: 15px;
    font-weight: 500;
}
.you2{
    display: inline;
    margin-left: 140px;
    font-size: 15px;
    font-weight: 500;
}
.drinkss{
    margin-top: 20px;
    margin-left: 480px;
}
.underss3{
    font-weight: bolder;
    margin-left: 560px;
}
.newly{
    margin-left: 360px;
    font-weight: 500;
}
.mades{
    margin-left: 490px;
    font-weight: 500;
}
.dessertss{
    margin-left: 375px;
    font-weight: 500;
}
.bbttn{
    margin-left: 630px;
    background-color: #6D5FC3;
    border: none;
    padding: 15px 32px;
    color: white;
    font-size: 16px;
    font-family: Scope One;
}

.broadss{
    position: relative;
    top: 0;
    left: 0;

}
.boxxs{
    width: 1350px;
    height: 550px;
    margin-top: 20px;

}
.boxs{
    width: 400px;
    margin-top: 107px;
    margin-left: 30px;
    position: absolute;
    top: 30px;
    left: 30px;
}
.letts{
    position: absolute;
    top: 40px;
    left: 16px;
}
.breadss{
    display: inline;
    margin-left: 155px;

}
.underss4{
    font-weight: bolder;
    display: inline;
    margin-left: 195px;
}
.bbn{
    margin-top: 350px;
    margin-left: 165px;
    background-color: #6D5FC3;
    border: none;
    padding: 15px 32px;
    color: white;
    font-size: 16px;
    font-family: Scope One;
}
.brads{
    position: absolute;
    top: 160px;
    left: 16px;
}
.fres{
    display: inline;
    margin-left: 195px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 20px;
    color: #641717;
    font-weight: bolder;
}
.by{
    display: inline;
    margin-left: 115px;
    width: 300px;
    font-size: 15px;
    font-weight: 500;
}
.pastry{
    display: inline;
    margin-left: 115px;
    width: 300px;
    font-size: 15px;
    font-weight: 500;
}
.care{
    display: inline;
    margin-left: 115px;
    width: 300px;
    font-size: 15px;
    font-weight: 500;
}
.airy{
    display: inline;
    margin-left: 115px;
    width: 300px;
    font-size: 15px;
    font-weight: 500;
}
.kitcher{
    display: inline;
    margin-left: 115px;
    width: 300px;
    font-size: 15px;
    font-weight: 500;
}
.catch{
    display: inline;
    margin-left: 115px;
    width: 300px;
    font-size: 15px;
    font-weight: 500;
}
.cbaked{
    display: inline;
    margin-left: 115px;
    width: 300px;
    font-size: 15px;
    font-weight: 500;
}

.waff{
    position: absolute;
    top: 30px;
    left: 30px;
    margin-left: 550px;
    margin-top: 26px;
    width: 420px;
}
.breds{
    position: absolute;
    top: 30px;
    left: 30px;
    margin-left: 850px;
    margin-top: 120px;
    width: 420px;
    height: 400px;
}
.brunch{
    margin-top: 5px;
    width: 446px;
    height: 400px;

}
.cross{
    margin-top: 5px;
    width: 446px;
    height: 400px;

}
.waffl{
    margin-top: 5px;
    width: 446px;
    height: 400px;

}
.locats{
    margin-top: 20px;
    margin-left: 130px;
    width: 50px;

}
.locatss{
    display: inline;
    margin-top: 40px;
    margin-right: 370px;
    float: right;
    font-size: 20px;

}
.locatsss{
    margin-left: 190px;
    font-weight: 500;
}
.mail{
    margin-left: 130px;
    width: 50px; 
}
.reach{
    display: inline;
    margin-top: 15px;
    margin-right: 370px;
    float: right;
    font-size: 20px;
}
.tweet{
    width: 40px;
    margin-left: 190px;
    margin-right: 20px;
}
.insta{
    width: 40px;
    margin-right: 20px;
}
.fb{
    width: 40px;
}
.phon{
    margin-top: 15px;
    margin-left: 130px;
    width: 40px; 
}
.number{
    display: inline;
    margin-top: 20px;
    margin-right: 350px;
    float: right;
    font-size: 15px;
}
.enjoy{
    margin-top: 110px;
}
.bellw{
    position: absolute;
    top: 3265px;
    left: 16px;
    
}
.boxxsss{
    margin-top: 10px;
    width: 1350px;
    height: 80px;
}
.copyr{
    margin-left: 500px;
    display: inline;
    color: #8A8686;
}
.alls{
    margin-left: 590px;
    display: inline;
    color: #8A8686;
}